<template>
  <div class="main-personajes">
    <h1 class="title">Episodes Rick & Morty</h1>
    <div class="container">

       <va-data-table
    :items="items"
    :columns="columns"
    :per-page="perPage"
   
    :filter="filter"
    @filtered="filtered = $event.items"
    :animated="true"
    :striped="isTableStriped"
  >
    <template #bodyAppend>
      <tr><td colspan="8" class="table-example--pagination">
        <va-pagination
         v-model="page"
        :pages="info.pages"
        :visible-pages="3"
        @click="getData()"
        />
      </td></tr>
    </template>
  </va-data-table>
    </div>
  
  </div>
</template>

<script>
export default {
  data(){
      const columns = [
      { key: 'id', sortable: true, width: '10%' },
      { key: 'episode', sortable: true, width: '25%' },
      { key: 'name', sortable: true, width: '35%' },
      { key: 'air_date', sortable: true, width: '30%' }     
    ]

    return{
        items:[],
        columns,
        perPage: 20,       
        filter: '',
        filtered:[],
        page: 1,
        info:{},

    }
  },
  methods:{
    getData(){
      const parametros = new URLSearchParams
      parametros.append("page",this.page)
      this.axios({method:"get", 
      url:"https://rickandmortyapi.com/api/episode",
      params: parametros
      }).then((response)=>{
        this.items=response.data.results    
        this.info=response.data.info  
        console.log(response.data)
      })
     
    }
  },
  mounted(){
    this.getData()
  },
  computed: {
    pages () {
      return (this.perPage && this.perPage !== 0)
        ? Math.ceil(this.filtered.length / this.perPage)
        : this.filtered.length
    },
  },
}
</script>

<style scoped>
h1{
}
.tarjeta{
  border: 1px solid gray;
  margin: 20px;
  width: 20%;
}
.title{  
  color:rgb(87, 209, 87);
  font-size: 1.5rem;
  margin: 15px;
  font-family: cursive;

}
.main-personajes{
  width: 100vw;
  margin: auto;
  
}
.container{
  margin: 15px auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.table-example--pagination {
  text-align: center;
  text-align: -webkit-center;
}

</style>