<template>
  <div class="home">

     <div class="row">
    <div class="flex md6 lg4">
      <va-card stripe stripe-color="success" bordered outlined color="black" gradient>
        <va-card-title><b>Realizado por:  </b></va-card-title>
        <va-card-content>Kevin Santiago Holguin Bello</va-card-content>
        <va-card-content>20191020035</va-card-content>
        <va-card-content>Curso VUE ACM</va-card-content>
        <va-card-content>Universidad Distrital Francisco José de Caldas</va-card-content>
      </va-card>
    </div>
  </div>
    
  </div>
</template>

<script>

export default {


}

</script>
<style scoped>
.home{
  height: 100vh;
  width: 100vw;
  margin: auto;
  background-image: url("../assets/nofalle.png");
  background-repeat: no-repeat ;
  background-position-x:center;
  background-size: 100%;

}
.row{
  width: 100vw;
  height: 100vh;
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;

}
</style>