<template>
  <div class="main-lugares">
    <div class="head-title">
    <h1 class="title">Locations Rick & Morty</h1>
     <va-button outline :rounded="false" flat class="mr-4 mb-2" @click="abrirModal">
      <va-icon class="mr-1" name="filter_alt" color="success" />
    </va-button>
    </div>
    <div class="container">
      <va-card class="tarjeta" v-for="(lug,i) in lugares" :key="i">
        
        <va-card-title>{{lug.name}}</va-card-title>
        <va-card-content>Type: {{lug.type}}</va-card-content>     
           <va-card-content>
          <va-badge dot :color="dimension[`${lug.dimension}`]">
            {{lug.dimension}}
          </va-badge>
        </va-card-content>
      </va-card>
   
    </div>      
    
    <div class="paginado">
     <va-pagination
        v-model="page"
        :pages="info.pages"
        :visible-pages="7"
        @click="getData()"
        color="background"
      />
      </div>
      <modal-lugares @_hacerBusqueda="buscar" @_cerrarModal="cerrarModal" v-if="verModal"/>
  </div>
</template>

<script>
import ModalLugares from "@/components/locations/ModalLugares.vue"
export default {
  components: {ModalLugares},
  data(){
    return{
       page: 1,
       info:{},
       verModal:false,
       lugares:[],
       dimension:{'unknown':'warning'},
       filtros:{
        name:"",
        type:"",
        dimension:""
       }
    }
  },
  methods:{
    getData(){
      const parametros = new URLSearchParams
      parametros.append("name",this.filtros.name)
      parametros.append("type",this.filtros.type)
      parametros.append("dimension",this.filtros.dimension)
      parametros.append("page",this.page)
      this.axios({method:"get", 
      url:"https://rickandmortyapi.com/api/location",
      params: parametros
      }).then((response)=>{
        this.lugares=response.data.results        
        this.info=response.data.info
        console.log(response.data)
      })
     
    },
      abrirModal(){
      this.verModal=true
    },
    cerrarModal(data){
      this.verModal=data
    },
    buscar(data){
      console.log(data)
      this.verModal=false
      this.filtros.name=data[0]      
      this.filtros.type=data[1]
      this.filtros.dimension=data[2]      
      this.getData()    
    },

  },
  mounted(){
    this.getData()
  }
}
</script>

<style scoped>
h1{
}
.tarjeta{
  border: 1px solid gray;
  margin: 20px;
  width: 20%;
}
.title{
 color:rgb(87, 209, 87);
  font-size: 1.5rem;
  margin: 15px;
  font-family: cursive;

}
.main-lugares{
  width: 100vw;
  margin: auto; 
  background-image: url("../assets/nofalle.png");
  background-repeat: no-repeat ;
  background-position-x:center;
  background-size: 100%;
  background-attachment: fixed;


}
.container{
  margin: 15px auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.head-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.paginado{
  display: flex;
  justify-content: center;
  align-items: center;  
}
</style>