<template>
  <div class="main-personajes">
    
    <div class="head-title">
    <h1 class="title">Characters Rick & Morty</h1>    
    <va-button outline :rounded="false" flat class="mr-4 mb-2" @click="abrirModal">
      <va-icon class="mr-1" name="filter_alt" color="success" />
    </va-button>
    </div>
    <div class="container">
      <va-card class="tarjeta" v-for="(personaje,i) in personajes" :key="i" :bordered="false" @click="abrirModalPersonaje(personaje)">
        <va-image
          :src="personaje.image"
          style="height: 200px; border"
        />
        <va-card-title>{{personaje.name}}</va-card-title>
        <va-card-content>{{personaje.species}} - 
          <va-badge dot :color="status[`${personaje.status}`]">
            {{personaje.status}}
          </va-badge>
        </va-card-content>



      </va-card>
   
    </div> 
      <div class="paginado">
      <va-pagination
        v-model="page"
        :pages="info.pages"
        :visible-pages="16"
        @click="getData()" 
        color="background"
      />
    </div>
      
    <modal-personajes @_hacerBusqueda="buscar" @_cerrarModal="cerrarModal" v-if="verModal"/>
    
    <va-modal
      v-model="verModalPersonaje" size="small" no-padding>
      <template #content="{ ok }">
        <va-image :src="dataModalPersonaje.image" />
        <va-card-title>{{dataModalPersonaje.name}}</va-card-title>
        <va-card-content>
          <b>Status: </b>{{dataModalPersonaje.status}}
          <br>
          <b>Specie: </b>{{dataModalPersonaje.species}}
          <br>
          <b>Type: </b>{{dataModalPersonaje.type}}
          <br>
          <b>Gender: </b>{{dataModalPersonaje.gender}}
          <br>
          <b>Origin: </b>{{dataModalPersonaje.origin.name}}
        </va-card-content>
        <va-card-content>
          <h2>Episodes number in which this appears: {{dataModalPersonaje.episode.length}}</h2>
          <p v-for="([id,nombre],i) in episodiosPersonajes" :key="i">            
           {{id}}-{{nombre}}
          </p>          
        </va-card-content>
        <va-card-actions>
          <va-button @click="ok" color="warning">Ok!</va-button>
        </va-card-actions>
      </template>
    </va-modal>

  </div>
</template>

<script>
import ModalPersonajes from "@/components/personajes/ModalPersonajes.vue"

export default {
  components: {ModalPersonajes},
  data(){
    return{  
      page: 1,
      info:{},
      verModal:false,
      verModalPersonaje:false,
      dataModalPersonaje: {},
      personajes:[],
      episodiosPersonajes:[],
      episodiosLista:[],
      status:{'Alive':'#ad0','Dead':'danger','unknown':'warning'},
      filtros:{
        name:"",
        status:"",
        species:"",
        type:"",
        gender:"",
      }
    }
  },
  methods:{        
    getData(){
      const parametros = new URLSearchParams
      parametros.append("name",this.filtros.name)
      parametros.append("status",this.filtros.status)
      parametros.append("species",this.filtros.species)
      parametros.append("type",this.filtros.type)
      parametros.append("gender",this.filtros.gender)
      parametros.append("page",this.page)
      this.axios({method:"get", 
      url:"https://rickandmortyapi.com/api/character",
      params: parametros
      }).then((response)=>{
        this.personajes=response.data.results     
         this.info=response.data.info   
        //console.log(response.data)
      })
     
    },
    getEpisode(episodios){
      this.episodiosPersonajes=[]     
      
      for (const e of episodios) {
        this.axios({method:"get", 
        url:`${e}`
        }).then((response)=>{      
          if(this.episodiosLista.id==this.episodiosPersonajes.id){
            this.episodiosPersonajes.push([response.data.id,response.data.name]) 
          }  
             
        })
      }        
    },
    abrirModal(){
      this.verModal=true
    },
    cerrarModal(data){
      this.verModal=data
    },
    buscar(data){
      console.log(data)
      this.verModal=false
      this.filtros.name=data[0]      
      this.filtros.status=data[1]
      this.filtros.species=data[2]
      this.filtros.type=data[3]
      this.filtros.gender=data[4]
      this.getData()    
    },
    abrirModalPersonaje(personaje){      
      this.verModalPersonaje=true
      this.getEpisode(personaje.episode)
      if(personaje.type==""){
        personaje.type="N/A"
      }
      this.dataModalPersonaje=personaje
    },  
  },
  mounted(){
    this.getData()
  }
}
</script>

<style scoped>
h1{

}
.tarjeta{
  border: 1px solid gray;
  margin: 20px;
  width: 20%;
}
.title{
 color:rgb(87, 209, 87);
  font-size: 1.5rem;
  margin: 15px;
  font-family: cursive;
}
.main-personajes{
  width: 100vw;
  margin: auto;

  background-image: url("../assets/nofalle.png");
  background-repeat: no-repeat ;
  background-position-x:center;
  background-size: 100%;
  background-attachment: fixed;  
  
}
.container{
  margin: 15px auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.head-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.paginado{
  display: flex;
  justify-content: center;
  align-items: center;  
}
</style>