<template>
  <transition>
    <div class="mascara-modal">
        <div class="envoltura-modal">
            <div class="tarjeta-modal">
                <h1 class="titulo-modal">Character filter</h1>
                <va-form
                  class="modal-form"
                  tag="form"
                  @submit.prevent="hacerBusqueda"
                >
                  <va-input
                    class="mt-3"    
                    label="Name"
                    v-model="namer"
                  />
                  <br>
                  <va-select
                    class="mt-3"
                    label="Status"
                    v-model="valueStatus"
                    :options="optionsStatus"
                    clearable
                  />
                  <va-input
                    class="mt-3"              
                    label="Specie"
                    v-model="specie"
                  />

                   <va-input
                    class="mt-3"              
                    label="Type"
                    v-model="type"
                  />
                  

                   <va-select
                    class="mt-3"
                    label="Genre"
                    v-model="valueGenre"
                    :options="optionsGenre"
                    clearable
                  />


                  <va-button type="submit" class="mt-3">
                    Search
                  </va-button>
                </va-form>
            </div>
            <div class="close-modal" @click="cerrarModal"></div>
        </div>        
    </div>
  </transition>
</template>

<script>
export default {
  data(){
    return{     
      namer: "",
      specie: "",
      type: "",
      valueStatus: "",
      valueGenre: "",
      optionsStatus: ['alive', 'dead', 'unknown'],
      optionsGenre:['male', 'female', 'genderless', 'unknown']
    }
  },
  methods:{
    cerrarModal(){
      this.$emit("_cerrarModal",false)
    },
    hacerBusqueda () {
      this.$emit("_hacerBusqueda",[this.namer, this.valueStatus, this.specie, this.type, this.valueGenre])
    },
  }
}
</script>

<style scoped>
.mascara-modal{
position: fixed;
z-index: 100;
top: 0;
left: 0;
width: 100%;
height: 100vh;
background-color: rgba(0, 0, 0, 0.603);
transition: opacity 0.3 ease;
overflow-y: auto;
overflow-x: hidden;
}
.envoltura-modal{
height: 100%;
display: flex;
justify-content: center;
align-items: center;
z-index: 101;
}
.tarjeta-modal{
min-width: 50%;
max-width: 90%;
padding: 15px;
background-color: rgb(216, 214, 214);
border-radius: 5px;
position: absolute;
overflow-x: hidden;
overflow-y: auto;
}
.close-modal{
width: 100vw;
height: 100vh;
}
.titulo-modal{
  font-size: 1.5rem;
  font-family: cursive;
  color: rgb(48, 41, 41);
}
.modal-form{
  width: 75%;
  margin: 20px auto;
}
</style>