<template>
<va-affix :offset-top="0">
<va-navbar color="success" shape class="mb-0">
    <template #left>
      <va-navbar-item><router-link to="/"><img class="logo" src="@/assets/img/Rick_and_Morty.png" alt=""></router-link></va-navbar-item>
    </template>
    <template #right>
            
        <va-navbar-item><router-link to="/personajes" class="ancla">Characters</router-link></va-navbar-item> 
        <va-navbar-item><router-link to="/lugares" class="ancla">Locations</router-link></va-navbar-item> 
        <va-navbar-item><router-link to="/episodios" class="ancla">Episodes</router-link></va-navbar-item> 
        
    </template>
   
  </va-navbar>  
</va-affix>
  <router-view/>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #ffffff;
}

nav a.router-link-exact-active {
  color: #42b983;
}

.ancla{
  color: white;
  text-decoration: none;
  font-family: cursive;
  font-size: 1.1rem;
}

.ancla:focus{
  color: aqua;
}
.logo{
  height: 50px;
}
</style>
